# dev-dependencies
coveralls==3.3.1
cv==1.0.0
Jinja2==3.1.2
libsass==0.22.0
MarkupSafe==2.0.1
mistune==0.8.4
mypy==0.991
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-frontmatter==0.4.5
python-slugify==3.0.6
twine==4.0.2
watchgod==0.8.2
wheel==0.41.2
