{% extends "_templates_/base.html" %}

{%- block main_class -%}wide{%- endblock -%}
{% block main %}
    <div id="disclaimer">
        <p>
            Not so long ago I got myself a dog. <br>
            It is only logical, that this page will be...
            <button id="show-me" onclick="showLabs()">Show me</button>
        </p>
    </div>
    <div id="labs" class="none"></div>
{% endblock %}

{% block script %}
    <script>
        const videos = [
            'jtehZoXDs-U?start=412',
            'in_jF1W3jUg?start=63',
            'BOK-2G9GLfY?start=441',
            'QU5sNR16zc0?start=297',
            'AP6IbRRvYXg',
            'AL67h1A7r6E?start=149',
        ];

        function youtubeElement(id) {
            const el = document.createElement('iframe');
            el.frameBorder = '0';
            el.toggleAttribute('allowFullscreen');
            el.allow = 'accelerometer; encrypted-media; gyroscope; picture-in-picture';
            el.src = 'https://www.youtube.com/embed/' + id;
            return el;
        }

        function showLabs() {
            document.getElementById('disclaimer').classList.add('none');
            const $main = document.getElementsByTagName('main').item(0);
            $main.classList.add('no-margin');
            $main.classList.add('no-padding');
            let $labs = document.getElementById('labs');
            $labs.classList.remove('none');
            videos.forEach(videoId => $labs.appendChild(youtubeElement(videoId)))
        }
    </script>
{% endblock %}