body, html {
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1.1rem;
    background-color: whitesmoke;
    overflow: hidden;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}