{% extends "templates/base.html" %}

{% block title %} Lightweight | Posts {% endblock %}

{% block main %}

    {%- for path, source in site['posts'].items() | sort(attribute='1.order', reverse=True) %}
        {% set post = source.render(path) %}

        <article>
            <a href="{{ path.location }}"><h1>{{ post.title or post.created.strftime('%Y-%m-%d') }}</h1></a>

            {{ post.html }}
        </article>

        {% if not loop.last %} <hr> {% endif %}

    {%- endfor %}

{% endblock %}