body {
  min-height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.1rem;
  background-color: #f8f8f8;
  font-family: Georgia, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &.ios {
    min-height: 86vh;
    max-height: 86vh;
    height: 86vh;

    max-width: 100vw;
  }

  @media screen and (max-width: $lean-width) {
    align-items: initial;
  }

  main {
    max-width: 800px;

    &.wide {
      max-width: 100vw;
    }

    @media screen and (max-width: 840px) {
      padding: 0 1em 0;
    }

    .double-container {
      @media screen and (max-width: $lean-width-plus) {
        display: block;
      }

      display: flex;
      flex-direction: row;

      div {
        flex: auto;
      }
    }
  }

  #header-container {
    width: 900px;

    @media screen and (max-width: $stick-header-width) {
      width: 100vw;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      @media screen and (max-width: $stick-header-width) {
        padding: 0 1em 0;
      }

      @media screen and (max-width: $lean-width) {
        display: block;
      }

      nav {
        font-size: 1.6em;

        @media screen and (max-width: $lean-width) {
          margin-left: -0.13em;
        }

        a {
          padding: 0 0.15em;
          text-transform: lowercase;
        }
      }
    }
  }

  footer {
    padding: 1em;
    font-size: 1rem;
  }
}