@import "./hljs-ocean";

$accent: rgb(250, 160, 0);
$black: #000000;
$black-alt: #010101; // A workaround for Safari issue with underline and hover.
$black-down: #3f3f3f;

$lean-width: 700px;
$lean-width-plus: 740px;
$stick-header-width: 940px;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.1rem;
  background-color: #f8f8f8;
  font-family: Georgia, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  p {
    line-height: 1.5rem;
  }

  a {
    color: $accent;

    h1, span {
      color: $black;
    }

    &:hover, &:hover * {
      color: $black-alt;
    }

    &:active, &:active * {
      color: $black-down;
    }
  }

  hr {
    margin: 2em 0;
    border: 1px solid rgb(234, 234, 234);
  }

  main {
    max-width: 800px;

    @media screen and (max-width: 840px) {
      padding: 0 1em 0;
    }

    .double-container {
      @media screen and (max-width: $lean-width-plus) {
        display: block;
      }

      display: flex;
      flex-direction: row;

      div {
        flex: auto;
      }
    }
  }

  #header-container {
    width: 900px;

    @media screen and (max-width: $stick-header-width) {
      width: 100vw;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      @media screen and (max-width: $stick-header-width) {
        padding: 0 1em 0;
      }

      @media screen and (max-width: $lean-width) {
        display: block;
      }

      nav {
        font-size: 1.6em;

        @media screen and (max-width: $lean-width) {
          margin-left: -0.13em;
        }

        a {
          padding: 0 0.15em;
          text-transform: lowercase;
        }
      }
    }
  }

  footer {
    @media screen and (max-width: $lean-width) {
      width: 100vw;

      p {
        padding: 1em;
      }
    }
  }

  pre code {
    @media screen and (max-width: $lean-width-plus) {
      max-width: 86vw;
    }
  }

  .bash:before {
    content: '$ ';
  }
}
